<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg mt-3" id="nav">
            <div class="container" id="nav-container">
                <a class="navbar-brand" href="/">
                    <i class="fa-regular fa-circle-user"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/Projects/Projects.html">Projects</a>
                        <a class="nav-link" href="/about/about.html">About Me</a>
                    </div>
                </div>

            </div>
        </nav>

</body>
</html>